* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
  }
  
  button {
    background: none;
  
    outline: none;
    border: none;
  
    cursor: pointer;
  }

  main {
    /* 나중에 조정하기 */
    min-height: 100vh;
    padding: 2rem 1.5rem;
  }
  
  input[type="checkbox"]:hover {
    cursor: pointer;
  }